/* media.css */

/* Styles for phone size (max-width: 600px) */
@media only screen and (max-width: 620px) {
body{
    overflow-x: hidden;
    max-width: 600px;
}

.up-showcase-back-nav{
    padding-right: 0px;
    width: 570px;
}

.up-showcase-back-nav nav .up-showcase-back-nav-p {
    height: 40px;
    width: 200px;
    position: relative;
    top: 50px;
    right: 160px;
}

.up-showcase-back-nav nav .up-showcase-back-nav-p p{
    font-size: 13px;
}

.up-showcase-back-nav nav .up-showcase-back-nav-image{
    position: relative;
    left: unset;
    right: 130px;
    top: 20px;
}

.up-showcase-back-nav nav .up-showcase-back-nav-image img{
    width: 90px;
    height: 80px;
}

.up-showcase-back-nav nav .up-showcase-back-nav-info{
    position: relative;
    left: unset;
    right: 90px;
    top: 20px;
    font-size: 15px;
}

.up-showcase-back-nav nav .up-showcase-back-nav-info a .request{
    padding-top: 10px;
    height: 40px;
    width: 140px;
    font-size: 13px;
}

.showcase-navbar{
    width: 540px;
    position: relative;
    bottom: 70px;
    left: 0px;

}


.showcase-navbar nav ul li a{
    padding: 4px;
    font-size: 12px;
    font-weight: bolder;
}

.showcase-navbar nav ul.under-list li a{
    font-size: 12px;
}

.showcase-navbar nav ul .services{
    position: relative;
    left: 10px;
}

.showcase-navbar nav ul .about{
    position: relative;
    left: 0px;
}

.showcase-navbar nav ul .contact{
    position: relative;
    right: 20px;
}

.showcase-main .showcase-main-display .showcase-main-display-text .showcase-main-display-text-abt{
    height: 30px;
    width: 500px;
    position: relative;
    right: 100px;
    top: 50px;
}

.showcase-main-display .showcase-main-display-text .showcase-main-display-text-abt h1{
    font-size: 17px;
}

.showcase-main-display .showcase-main-display-text .showcase-main-display-text-abt h3{
    font-size: 10px;
    position: relative;
    right: 90px;
}

.showcase-main-display .showcase-main-display-text .showcase-main-display-text-cnt{
    width: 300px;
    margin: unset;
    position: relative;
    top: 100px;
    right: 100px;
}

.showcase-main-display .showcase-main-display-text .showcase-main-display-text-cnt a{
    font-size: 25px;
}

.up-showcase .showcase-main .showcase-main-display .showcase-main-display-form{
    height: 390px;
    width: 350px;
    position: relative;
    left: unset;
    right: 630px;
    background-color: rgba(27, 27, 27, 0.938);
    display: none;
}

.up-showcase .showcase-main .showcase-main-display .showcase-main-display-form h1{
    font-size: 20px;
}


.showcase-main-display .showcase-main-display-form .showcase-main-display-form-main form input{
    width: 300px;
    height: 40px;
}

.showcase-main-display-form .showcase-main-display-form-main form select{
    width: 300px;
}

.up-showcase .showcase-main .showcase-main-display .showcase-main-display-form button{
    display: block;
    position: relative;
    top: 10px;
    right: 50px;
}

.showcase-icon .showcase-icon-main{
    position: absolute;
    left: 520px;
}

/* UP-SHOWCASE-2 */
.up-showcase-2{
    height: 450px;
    width: 550px;
    overflow: hidden;
}

.up-showcase-2 .up-showcase-2-main{
    position: relative;
    left: 50px;
    top: 40px;
}

.up-showcase-2 .up-showcase-2-main .up-showcase-2-main-h1{
    width: 450px;
    position: relative;
    left: unset;
    right: 0px;
}

.up-showcase-2 .up-showcase-2-main .up-showcase-2-main-h1 h1{
    font-size: 20px
}

.up-showcase-2 .up-showcase-2-main .up-showcase-2-main-txt p{
      width: 400px;
    font-size: 17px;
    font-weight: light;
}

.up-showcase-2 .up-showcase-2-main .up-showcase-2-main-txt{
    width: 450px;
    position: relative;
    left: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.up-showcase-2 .up-showcase-2-main .up-showcase-2-main-txt .up-showcase-2-main-txt2{
    position: relative;
    left: 0px;
    top: 13px;
    width: 270px;
}

.up-showcase-2 .up-showcase-2-main .up-showcase-2-main-txt .up-showcase-2-main-txt1{
    position: relative;
    right: 0px;
    width: 270px;
}

/* UP-SHOWCASE-3 */
.up-showcase-3{
    height: 800px;
    overflow: hidden;
    width: 570px;
}


.up-showcase-3 .up-showcase-3-main{
    position: relative;
    left: 40px;
    top: 25px;

}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-h1{
    width: 410px;
    text-align: center;
    position: relative;
    right: 20px;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-h1 h1{
    font-size: 20px;
    margin-left: 50px;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-display .up-showcase-3-main-display-txt{
    width: 200px;
    position: relative;
    left: 20px;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-display .up-showcase-3-main-display-txt p{
    font-size: 13px;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-display .up-showcase-3-main-display-txt2{
    position: relative;
    top: 15px;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-display .up-showcase-3-right{
    position: relative;
    top: 150px;
    left: 30px;
    width: 220px;
    text-align: center;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-display .up-showcase-3-right p{
    font-size: 13px;

}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-display .up-showcase-3-right p i{
    font-size: 20px;
}

.up-showcase-3 .up-showcase-3-main .up-showcase-3-main-request .request{
    height: 40px;
    width: 200px;
    font-size: 15px;
    position: relative;
    left: 100px;
    top: 100px;
}

/* UP-SHOWCASE-4 */
.up-showcase-4 .up-showcase-4-main{
    width: 570px;
    position: relative;
    left: unset;
    right: 10px;
}

.up-showcase-4 .up-showcase-4-main .up-showcase-4-main-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.up-showcase-4 .up-showcase-4-main .up-showcase-4-main-flex .up-showcase-4-main-flex-div1{
    height: 240px;
    width: 170px;
    background-color: rgb(15, 65, 34);
    border-radius: 5px;
}

.up-showcase-4 .up-showcase-4-main .up-showcase-4-main-flex .up-showcase-4-main-flex-div2{
    height: 240px;
    width: 170px;
    background-color: rgb(15, 65, 34);
    position: unset;
}


.up-showcase-4 .up-showcase-4-main .up-showcase-4-main-flex .up-showcase-4-main-flex-div3{
    height: 240px;
    width: 170px;
    background-color: rgb(15, 65, 34);
    position: unset;
}

.up-showcase-4 .up-showcase-4-main .up-showcase-4-main-flex .up-showcase-4-main-flex-div4{
    height: 240px;
    width: 170px;
    background-color: rgb(15, 65, 34);
    position: unset;
}

.up-showcase-4-main-flex-div-txt h3 span{
    font-size: 16px;
    position: relative;
    top: 0px;
    width: 200px;
}

.up-showcase-4-main-flex .up-showcase-4-main-flex-div-i svg{
    width: 70px;
    height: 70px;

}

.up-showcase-4-main-flex  .up-showcase-4-main-flex-div-txt h3{
    font-size: 20px;
}

.up-showcase-4-main-flex .up-showcase-4-main-flex-div-i a {
    font-size: 25px;
    position: relative;
    top: 15px;
}

/* down-showcase-1 */
.down-showcase-1{
    height: 800px;
    width: 570px;
}

.down-showcase-1 .down-showcase-1-main{
    position: relative;
    left: 30px;

}

.down-showcase-1 .down-showcase-1-main .down-showcase-1-main-txt h2{
    color: #fff;
    font-size: 18px;
    position: unset;
    right: 400px;
}

.down-showcase-1 .down-showcase-1-main .down-showcase-1-main-pic ul {
    display: grid;
    grid-template-rows: 1fr 1fr  ;
    grid-template-columns: 1fr 1fr ;
    gap: 6px;
}

.down-showcase-1 .down-showcase-1-main .down-showcase-1-main-pic ul li img{
    
    width: 150px;
    height: 150px;
}

.down-showcase-1 .down-showcase-1-main .down-showcase-1-main-pic ul .sp1,
.down-showcase-1 .down-showcase-1-main .down-showcase-1-main-pic ul .sp2,
.down-showcase-1 .down-showcase-1-main .down-showcase-1-main-pic ul .sp3{
    position: unset;
    bottom: 200px;
}

/* down-showcase-2 */
.down-showcase-2 {
    width: 570px;
}


.down-showcase-2 .down-showcase-2-main .down-showcase-2-main-txt h2{
    font-size: 15px;
    position: relative;
    left: unset;
}

.down-showcase-2 .down-showcase-2-main .down-showcase-2-main-cnt a .request{
    height: 40px;
    width: 150px;
    padding-top: 7px;
    position: relative;
    left: 60px ;
    top: 20px;
}

.down-showcase-2 .down-showcase-2-main2{
    height: 650px;
    width: 570px;
}

.down-showcase-2 .down-showcase-2-main2-cnt{
    width: 400px;
    height: 550px;
    background-color: rgba(17, 44, 29, 0.788);
    position: relative;
    left: 50px;
    padding: 30px;
}
.down-showcase-2 .down-showcase-2-main2-cnt .down-showcase-2-main2-container-ht{
    color: #fff;
    position: relative;
    top: 10px;
    font-size: 16px;
}

.down-showcase-2 .down-showcase-2-main2-cnt .down-showcase2-main2-container-txt p{
    width: 300px;
    color: #fff;
    position: relative;
    top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.down-showcase-2 .down-showcase-2-main3{
    display: flex;
    flex-direction: column;
    height: 625px;
    width: 570px;
}

.down-showcase-2 .down-showcase-2-main3 .down-showcase-2-main3-cnt{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 311px;
    position: relative;
    top: 0px;
}


.down-showcase-2 .down-showcase-2-main3 .down-showcase-2-main3-cnt .down-showcase-2-main3-cnt-container1{
    position: relative;
    right: unset;
    left: 40px;
}

.down-showcase-2-main3-cnt-container1 .down-showcase-2-main3-cnt-container1-ht h3{
    font-size: 20px;
    width: 400px;
}

.down-showcase-2-main3-cnt-container1 .down-showcase-2-main3-cnt-container1-txt p{
    height: 50px;
    width: 350px;
    font-size: 16px;
    position: relative;
    bottom: 50px;
}


.down-showcase-2-main3-cnt-container1 .down-showcase-2-main3-cnt-container1-cnt a .request{
    width: 250px;
    height: 45px;
    font-size: 16px;
    position: relative;
    top: 50px;
}

.down-showcase-2 .down-showcase-2-main3 .down-showcase-2-main3-cnt .down-showcase-2-main3-cnt-container2{
    position: relative;
    left: 40px;
    top: 70px;
}

.down-showcase-2 .down-showcase-2-main3 .down-showcase-2-main3-cnt .down-showcase-2-main3-cnt-container2 img{
   width: 300px;
   height: 180px;
}

.down-showcase-3 .down-showcase-3-main{
    width: 670px;
    height: 120px;
}

.down-showcase-3 .down-showcase-3-main .down-showcase-3-main-cnt{
    width: 400px;
    height: 80px;
}

.down-showcase-3 .down-showcase-3-main .down-showcase-3-main-cnt .down-showcase-3-main-cnt-container{
    width: 400px;
    height: 80px;
    padding: 20px;
    position: relative;
    left: unset;
    right: 80px;

}

.down-showcase-3 .down-showcase-3-main .down-showcase-3-main-cnt .down-showcase-3-main-cnt-container img{
    width: 150px;
    height: 60px;
}

.down-showcase-3 .down-showcase-3-main .down-showcase-3-main-cnt .down-showcase-3-main-cnt-container a{
    width: 150px;
    height: 60px;
}

.down-showcase-3-main .down-showcase-3-main-cnt .down-showcase-3-main-cnt-container .down-showcase-3-main-cnt-container-colums{
    width: 150px;
    height: 80px;
}

.down-showcase-3 .down-showcase-3-main2 {
    width: 650px;
}


.down-showcase-3 .down-showcase-3-main2 .down-showcase-3-main2-cnt{
    width: 400px;
    height: 56px;
   text-align: center;
}

.down-showcase-3 .down-showcase-3-main2 .down-showcase-3-main2-cnt .down-showcase-3-main2-cnt-txt{
    width: 450px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 30px;
}

.down-showcase-3-main2 .down-showcase-3-main2-cnt .down-showcase-3-main2-cnt-txt p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 17px;
}

.down-showcase-3 .down-showcase-3-main3{
    width: 650px;
    height: 800px;
    overflow: hidden;
}

.down-showcase-3-main3-cnt-container-flex{
    width: 300px;
    height: 296.3339px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 150px;
}

.down-showcase-3-main3-cnt-container-flex-2{
    position: relative;
    top: 120px;
    right: 0px;
}


.down-showcase-3-main3-cnt-container-flex-3{
    position: relative;
    top: 170px;
    right: 0px;
}

footer .footer-main{
    width: 450px;
    height: 20px;
    color: #fff;
}

footer .footer-main a{
    color: #545454;
}

}